<div class="container">
  <!-- Para a correção de erros no processo de ciclo de vida do componente
  ele começa com um atributo oferta sendo undefined e só depois que a promise é
  resolvida que ele recebe os valores adequados, então, usando o ngIf, a pagina só irá
  carregar após o atributo oferta ter um valor diferente de undefined -->
  <div class="oferta" *ngIf="oferta !== undefined">

  <!-- Observable
     <div class="row">
      <div class="col">
        <a [routerLink]="['/oferta', 1]">Oferta 1</a>
        <a [routerLink]="['/oferta', 3]">Oferta 3</a>
        <a [routerLink]="['/oferta', 6]">Oferta 6</a>
      </div>
    </div>
  -->
    <div class="row">
      <div class="col">
        <h4>{{ oferta.descricao_oferta }}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="img_capa">
          <img [src]="oferta.imagens[0].url" />
        </div>

        <div class="thumbnails">
          <img *ngFor="let imagem of oferta.imagens" [src]="imagem.url" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col text-center">
            <p>Por apenas</p>
          </div>
          
        </div>

        <div class="row">
          <div class="col text-center">
            <h1>R${{ oferta.valor }}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-warning btn-lg">Adicionar ao carrinho</button>
          </div>
        </div>
          
      </div>

    </div>

  </div>

  <div class="row" style="margin-top: 25px; margin-bottom: 150px">
      <div class="col">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <!-- Nesse caso o routerLink não usa barras apenas adiciona seu valor ao path -->
                <a class="nav-link active" routerLink="como-usar" data-toggle="tab" href="#como-usar" role="tab" aria-selected="true">Como Usar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="onde-fica" data-toggle="tab" href="#onde-fica" role="tab" aria-selected="false">Onde Fica</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <!-- Irá exibir os valores de acordo com as rotas usadas -->
              <router-outlet></router-outlet>
            </div>    
      </div>
    </div>

</div>