<div class="fixed-top">
  <nav class="navbar navbar-light bg-faded">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
            <a routerLink='/' class="navbar-brand">
              <img src="/assets/logo.png" />
            </a>
        </div>
        <div class="col-md-6">
          <!-- Event biding (keyup) - Assim que uma tecla for prescionada e liberada será disparado um evento (pesquisa)
          que recebe como parãmetro os dados do proprio evento, pode-se também criar uma variável com # e essa variável
        passa a referenciar esse componete ou input, passando aoinvés do $event uma variável já com seu value -->
        <input type="text" class="form-control" placeholder="Pesquise por Ofertas..." 
          #termoDaPesquisa
          (keyup)="pesquisa(termoDaPesquisa.value)" />
            
          <!-- z-index - utilizado para posicionar o elemento (componente) em uma camada superior -->
          <ul class="list-group" style="position: absolute; z-index: 999">
            <!-- descricaoReduzida é um PIPE criado com dois parâmetros sendo o primeiro de onde a String começa e o outro onde ela termina -->
            <li class="list-group-item" *ngFor="let oferta of ofertas | async">
                <a [routerLink]="['/oferta', oferta.id]" (click)="limpaPesquisa()">{{ oferta.titulo | descricaoReduzida: 0 : 12 }}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <a a href="#"><img src="/assets/carrinho.png" /></a>
        </div>
      </div>
    </div>
  </nav>
  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink='/restaurantes'>Restaurantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/diversao']">Diversão</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner">
  <img src="/assets/banners/img_1.jpg" />
</div>